/* body {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(151, 148, 233, 1) 100%);
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card {
  background: rgb(243, 63, 251);
  background: radial-gradient(circle, rgba(151, 148, 233, 1) 100%, rgba(238, 174, 202) 0%);
  margin: 0 auto;
  -webkit-box-shadow: 11px 9px 26px -10px #000000;
  -moz-box-shadow: 11px 9px 26px -10px #000000;
  -o-box-shadow: 11px 9px 26px -10px #000000;
  box-shadow: 11px 9px 26px -10px #000000;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
  border-radius: 30px;
}

.form-aggiunta {
  background: rgb(243, 63, 251);
  background: radial-gradient(circle, rgba(151, 148, 233, 1) 100%, rgba(238, 174, 202) 0%);
  -webkit-box-shadow: 4px 5px 33px 0px #000000;
  -moz-box-shadow: 4px 5px 33px 0px #000000;
  -o-box-shadow: 4px 5px 33px 0px #000000;
  box-shadow: 4px 5px 33px 0px #000000;
  border-radius: 20px;
}

.btn-form {
  background-color: white;
  width: 100%
}

.btn-card {
  background-color: rgb(119, 116, 215);
}

.card-body>.btn-primary:hover {
  background-color: rgb(129, 127, 203);
}

.btn-primary:focus {
  background-color: rgb(129, 127, 203);
}

.btn-delete {
  background-color: rgb(194, 49, 49);
}

.modal-content {
  background: rgb(243, 63, 251);
  background: radial-gradient(circle, rgba(151, 148, 233, 1) 100%, rgba(238, 174, 202) 0%);
  border-radius: 20px;
  padding: 10px;
}

.card>.hr {
  height: 2px;
  border-radius: 10px;
  background-color: red;
  width: 50%;
  margin: 10px auto 10px auto;
}

.card-body {
  padding: 2px;
}

.invio{
  background-color: rgb(88, 85, 187);
}

.col-index{
  z-index: 10;
}

.nav-index{
  z-index: 100;
}